
h1{
    display: none;
}
body {
    background: linear-gradient(-80deg, 
    #ca72f4, #e47eea, #f472a0, #f47272, #f4a672, #f4f072, #d5f472,#72f4b5, #72f4e3, #72bbf4,
    #ca72f4, #e47eea, #f472a0, #f47272, #f4a672) ;
     animation: gradient 15s ease-out infinite; 
     height: 100vh;
     background-size: 400% 400%;
}
/*#f4f072, #d5f472, #47ed7f,#72f4b5, #72f4e3, #72bbf4,
    #ca72f4, #e47eea, #f472a0, #f47272, #f4a672 */

@keyframes gradient {
    0% { background-position:  0% ;}

    10% { background-position: 10% ;}

    20% {background-position: 20% ;}

    30% {background-position: 30% ;}

    40% { background-position: 40% ;}

    50% { background-position: 50% ;}

    60% { background-position: 60% ;}

    70% {background-position: 70% ;}

    80% {background-position: 80% ;}

    100% {background-position: 100% ;}
}

div {
    background-color: black;
    color: aliceblue;
    border: 3px solid white;
    border-radius: 10%;
}